*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

button {
  background: #61cec8;
  color: #1F2833;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #66FCF190;
  width: 10vw;
  margin: 1vh 0;
  transition: 0.25s ease-in-out;
  border-radius: 3rem;
}

button:hover {
  background: #66FCF1;
  color: #0b0c10;
  border: 1px solid #45A29E;
  transition: 0.25s ease-in-out;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #1F2833;
}

a:hover {
  text-decoration: none;
  color: #0b0c10;
}